/*Header CSS*/
nav{
    background-color: #A43312;
    display: flex;
    justify-content: space-around;
    margin-top: 0em;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 2em;
    padding: 2em 1em 1em 1em;
} 
nav a:hover{
    background-color:#EC058E;
    color: black;
    text-decoration: none;
}
.header-social{
    padding-top: 2em;
}
.header-social a:hover{
    background-color: transparent;
}
.facebook,.twitter,.instagram{
    width: 3em;
}

/*Body CSS*/
body{
    background-color: #e6e6e6;
}
.title{
    text-align: center;
    font-size: 2em;
    margin-top: 4em;
}
.principles{
    display: grid;
    grid-template-columns: 40em 5em 40em;
    grid-template-rows: repeat(12, 40em);
    justify-content: center;
    margin-top: 15em;
}

/* Text CSS */
h1{
    font-size:2em;
    font-family: var(--heading-font);
    margin-top: 0;
    color: black;
}

.p1, .p3, .p5, .p7, .p9, .p11{
grid-column: 1/2;
font-size: 2em;
font-family: var(--paragraph-font);
color: #6f7364;

}

.p2, .p4, .p6, .p8, .p10, .p12{
grid-column: 3/4;
font-size: 2em;
font-family: var(--paragraph-font);
color: #6f7364;

}

.p2{
    grid-row: 2/3;
}
.p3{
    grid-row: 3/4;
}
.p4{
    grid-row: 4/5;
}
.p5{
    grid-row: 5/6;
}
.p6{
    grid-row: 6/7;
}
.p7{
    grid-row: 7/8;
}
.p8{
    grid-row: 8/9;
}
.p9{
    grid-row: 9/10;
}
.p10{
    grid-row: 10/11;
}
.p11{
    grid-row: 11/12;
}

/* Images CSS */

.i-1,.i-3,.i-5,.i-7,.i-9,.i-11{
    grid-column: 3/4;
    width: 40em;
    justify-content: center;
    border: 0.5em solid #4f4f4f;
    margin: 1em;
}
.i-2,.i-4,.i-6,.i-8,.i-10,.i-12{
    grid-column: 1/2;
    width: 40em;
    justify-content: center;
    border: 0.5em solid #4f4f4f;
    margin: 1em;
}
.i-1{
    grid-row: 1/2;
}
.i-2{
    grid-row: 2/3;
    width: 40em;
}
.i-3{
    grid-row: 3/4;
    width: 30em;
}
.i-4{
    grid-row: 4/5;
}
.i-5{
    grid-row: 5/6;

}
.i-6{
    grid-row: 6/7;
}
.i-7{
    grid-row: 7/8;
}
.i-8{
    grid-row: 8/9;
}
.i-9{
    grid-row: 9/10;
}
.i-10{
    grid-row: 10/11;
}
.i-11{
    grid-row: 11/12;
}
.i-12{
    grid-row: 12/13;
}

/*Footer CSS*/

footer{
    background-color: #A43312;
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
}
footer a{
    color: white;
    text-decoration: none;
    font-size: 2em;
    padding: 2em 1em 1em 1em;
}
.social a:hover{
    background-color: transparent;
}
footer a:hover{
    color: black;
    background-color: #EC058E;
}

/* Other CSS*/
#logo{
    width: 10em;
}
#footer-logo{
    width: 10em;
}
:root{
    --heading-font: "Abyssinica SIL";
    --paragraph-font: "Roboto Condensed";
}