
/*Header CSS*/
nav{
    background-color: #A43312;
    display: flex;
    justify-content: space-around;
    margin-top: 0;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 2em;
    padding: 2em 1em 1em 1em;
} 
nav a:hover{
    background-color:#EC058E;
    color: black;
    text-decoration: none;
}
.header-social{
    padding-top: 2em;
}
.header-social a:hover{
    background-color: transparent;
}
.facebook,.twitter,.instagram{
    width: 3em;
}

/* General Body CSS */
.head{
    text-align:center;
    margin-left: 15em;
    margin-right: 15em;
}

body{
    background-color: #e6e6e6;
}

h3{
    text-align: center;
    font-size: 5em;
    margin: 20px;
}

.info{
    display: grid;
    grid-template-columns: 1fr, 75px, 1fr;
    grid-template-rows: 30em 30em;
    margin: 4em 2em 0 2em;
}

h1{
    font-size:4em;
    font-family: var(--heading-font);
    margin-top: 0;
}

h2{
    font-size: 2em;
    font-family: var(--paragraph-font);
    margin-bottom: 0;
}

p{
    font-size: 1.5em;
    font-family: var(--paragraph-font);
    color: #6f7364;
    margin: 0;
}

/*Diamond Jack CSS*/

.diamond{
    grid-column: 3/4;
    width: 40em;
    margin-top: 2em;
}

.diamond-text{
    grid-column: 1/2;
    grid-row: 1/2;
}

/*Astartes CSS*/

.astartes{
    grid-column: 3/4;
    grid-row: 2/3;
    width: 40em;
    margin-top: 1em;
}

.astartes-text{
    grid-column: 1/2;
    grid-row: 2/3;
}

/*A.B.D. CSS*/

.abd{
    grid-column: 3/4;
    grid-row: 3/4;
    width: 40em;
    margin-top: 1em;
}

.abd-text{
    grid-column: 1/2;
    grid-row: 3/4;
}

/* Footer CSS*/
footer{
    background-color: #A43312;
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
}
footer a{
    color: white;
    text-decoration: none;
    font-size: 2em;
    padding: 2em 1em 1em 1em;
}
.social a:hover{
    background-color: transparent;
}
footer a:hover{
    color: black;
    background-color: #EC058E;
}
.social{
    padding-top: 2em;
}

/* Other CSS*/

:root{
--heading-font: "Abyssinica SIL";
--paragraph-font: "Roboto Condensed";
}
#logo{
    width: 10em;
}
#footer-logo{
    width: 10em;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
        display: none;
        text-align: center;
    }
    .home-title {
        font-size: 5em;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}